nav {
  position: relative;
  overflow: hidden;
  margin: auto;
 
}
.headline {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 200px;
  justify-content: center;
  color: beige;
}
